*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Oswald', sans-serif;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%23301d4f' fill-opacity='0.3' fill-rule='evenodd'/%3E%3C/svg%3E");
    color: gold;     
    background-color: black;

}
.container{
    width: 93%;
    margin:30px;
    
}
#fixed{
    width:98%;
    margin-top: -90px;
    margin-left: -20px;
    margin-right: 50px;
    position: fixed;   
    background-color: black;
    opacity: .95;
}
.navegacion{
    margin-top: 10px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 10px 0;
}
.imglogo{
    width: 60px;
    margin: 20 10;
}
nav ul li{
    display: inline;
    margin: 10px 0px;
    padding: 20px;  
}
.listas{
    flex: 1;
    margin-left: 30px;
}
.navegacion ul li a:hover{
    border-bottom: 2px solid gold;
}

nav li{
    list-style: none;
}
a{
    color: gold;
    text-decoration: none;
}

/*ShowCase*/
.ShowCase{
    width: 100%;
    height: 500px;
    margin: 80px 0 0px 0;
    background: url(./img/faropixels_opt.jpg) no-repeat bottom center/cover;
   /* opacity: 0.8;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 50px;
    /*margin: 20px;*/
    font-size: 30px;
    font-weight: 800;
}

.ShowCase .titulo1{
    padding: 10px;
    height: auto
}
.titulo1 p{
   margin: 20px;
}
/*.logo1{
    width: 100%;
    height: 350px;
}*/

/*cards*/
.cards{
    width: 100%;
    display: grid;
    box-sizing: content-box;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    
}
.cards img{
    margin-top: 20px;
    height: auto;
    width: 100%;
    border: 1px bold gold;
    object-fit: contain;
} 
    
.cards a{
    padding: 10px 0;
    color: gold;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
    
}
.cards a:hover{
    text-decoration: underline;
}
/*Articulo*/
.articulo{
    background: url(./img/logo2.png) center;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    margin: 0px;
    font-size: 30px;
    font-weight: 900;
}
/*.articulo h2{
    font-size: 60px;*/

.articulo contenido{
    width: 40%;
    padding: 90px 0 0 30px;
}
.articulo a{
    
    display: inline;
    
    border-radius: 30% 1px solid gold;
}
/*ArticuloDos*/
.ContenidoArticuloDos{
    background: url(./img/logo1.png) no-repeat center center/cover;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    margin: 0px;
    font-size: 30px;
    font-weight: 900;
}

/*SeccionRedes*/
.SeccionRedes{
    width: 100%;
    height: 100px;
    align-items: center;
    text-align: center;
    padding: 0px;
}
/*Redes*/
.redes{
    font-size: 40px;
    width: 100%;
    height: 100px;
    margin: 0 20px 40px 20px;
    padding: 0 20px;
}

/*Footer*/

.footer{
    width: 100%;
    height: 150px;
    background-color: #484a4d;   
    text-align: center;
    
}
.footer-container ul li{
    list-style: none;
    display: inline;
    grid-template-columns: repeat(6, 1fr);
    gap: 40px;
    justify-content: center;
    margin: auto;
    padding: 20px;
    text-align: center;
}
footer{
    margin: 100px 0 0 0;
}












@media (max-width: 800px){
    
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }
        .articulo{
            font-size: 25px;
            font-weight: 800;
    }
}
















@media (max-width: 750px){
    .njd{
        width: 100%;
        margin: 0 0;

    }
    
      .navegacion .listas li a{
       
       display: block;
       position: relative;      
       width: 60%;;
       top: 00px;
       left: -20;
       padding: 0px;
            
    }
    .njd .listas{
        position: absolute;
        width: 100px;
        height: 600px;
        top: 0;
        left: 0;
        background: grey;
    }

   
    .ShowCase{
        font-size: 25px;
        font-weight: 700;
    }
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }
        .articulo{
            font-size: 25px;
            font-weight: 800;
    }
}

