*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Oswald', sans-serif;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%23301d4f' fill-opacity='0.3' fill-rule='evenodd'/%3E%3C/svg%3E");
    color: gold;     
    background-color: black;
}

.container{
    width: 95%;
    margin:10px;
    
}

#fixed{
    width:95%;
    margin-top: -90px;
    margin-left: 0px;
    margin-right: 50px;
    position: fixed;   
    background-color: black;
    opacity: .95;
}

.navegacion{
    margin-top: 10px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 10px 0;
}

.imglogo{
    width: 60px;
    margin: 20 10;
}

nav ul li{
    display: inline;
    margin: 10px 0px;
    padding: 20px;  
}

.listas{
    flex: 1;
    margin-left: 30px;
}

.navegacion ul li a:hover{
    border-bottom: 2px solid gold;
}

nav li{
    list-style: none;
}

a{
    color: gold;
    text-decoration: none;
}

.boton-barras{
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 3rem;
    z-index: 2;
    position: fixed;
}

.nav-menu-rigth{
    margin-right: 65px;
}

/*ShowCase*/
.ShowCase{
    width: 100%;
    height: 500px;
    margin: 80px 0 0px 0;
    background: url(./img/faropixels_opt.jpg) no-repeat bottom center/cover;
   /* opacity: 0.8;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 50px;
    /*margin: 20px;*/
    font-size: 30px;
    font-weight: 800;
}

.ShowCase .titulo1{
    padding: 10px;
    height: auto
}

.titulo1 p{
   margin: 20px;
}

/*.logo1{
    width: 100%;
    height: 350px;
}*/

/*cards*/

.cards{
    width: 100%;
    display: grid;
    box-sizing: content-box;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;  
}

.cards img{
    margin-top: 20px;
    height: auto;
    width: 100%;
    border: 1px bold gold;
    object-fit: contain;
} 
    
.cards a{
    padding: 10px 0;
    color: gold;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;   
}

.cards a:hover{
    text-decoration: underline;
}
/*Articulo*/
.articulo{
    background: url(./img/logo2.png) center;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    margin: 0px;
    font-size: 30px;
    font-weight: 900;
}

/*.articulo h2{
    font-size: 60px;*/

/*.articulo contenido{
    width: 40%;
    padding: 90px 0 0 30px;
}*/

.articulo a{
    display: inline;
    border-radius: 30% 1px solid gold;
}

/*ArticuloDos*/
.ContenidoArticuloDos{
    background: url(./img/logo1.png) no-repeat center center/cover;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    margin: 0px;
    font-size: 30px;
    font-weight: 900;
}

/*SeccionRedes*/
.SeccionRedes{
    width: 100%;
    height: 100px;
    align-items: center;
    text-align: center;
    padding: 0px;
}

/*Redes*/
.redes h3{
    font-size: 30px;
    width: 100%;    
    padding-top: 0px;
}

.redes a{
    font-size: 40px;
    padding: 0 20px;
}

/*Footer*/

.footer{
    width: 100%;
    height: 100px;
    background-color: #484a4d;   
    text-align: center;    
}

.footer-container ul li{
    list-style: none;
    display: inline;
   /* grid-template-columns: repeat(2, 1fr);*/
    /*gap: 40px;*/
    justify-content: center;
    top: 10px;
    padding: 0 20px;
    text-align: center;
}

.footer-credito{
    margin-top: 60px;
   text-align: center;
   justify-content: flex-end;
}











/*responsive designe*/

@media (max-width: 800px){
    
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }
        .articulo{
            font-size: 25px;
            font-weight: 800;
    }
}

@media (max-width: 750px){

    .navegacion .njd ul.listas{
        position: absolute;
        width: 200px;
        height: 1000px;
        margin-left: -5px;
        padding: 30px;
        top: 0;
        left: 0;
        background: grey;
        transform: translateX(-300px);
        transition: .5s ease-in-out;
    }

    .navegacion .njd ul.listas.show{
        transform: translateX(-20px);
    }
    .navegacion .listas li a{
        display: block;     
        padding: 25px 0;
    }

    .ShowCase{
        font-size: 25px;
        font-weight: 700;
    }

    .cards{
        grid-template-columns: repeat(2, 1fr);
    }
    
    .articulo p{
            font-size: 25px;
            font-weight: 600;
    }
}



@media (max-width: 453px){
    .njd .listas{
        position: absolute;
        width: 100px;
        height: 1000px;
        margin-left: 0px;
        padding: 10px;
        top: 0;
        left: 0;
        background: grey;
    }   
    .navegacion .listas li a{
        display: block;     
    }
    .ShowCase{
        font-size: 18px;
        font-weight: 500;
        height: 500px;
    }
    .cards{
        grid-template-columns: repeat(1, 1fr);
    }
    .articulo .contenido h2{
        font-size: 25px;
    }
    .articulo .contenido a{
        font-size: 20px;
    }

    .div-art-uno p{
            font-size: 18px;
            font-weight: 500;
    }
    .redes h3{
        font-size: 25px;
        width: 100%;    
        padding-top: 0px;
    }
    
    .redes a{
        font-size: 30px;
        padding: 0 10px;
    }
    .footer{
        width: 100%;
        margin: 0;
    }
    .footer ul li{
        display: flex;       
    }
  
    .footer-credito{
        margin-top: auto;
    }

    }
 @media (max-width: 300px){
        .ShowCase{
            height: 600px;
            
        }
        .ShowCase h1{
            font-size: 25px;
        }
        .ShowCase p{
            width: auto;
        }
        .articulo{
            height: 600px;
        }
        .articulo .contenido h2{
            font-size: 20px;
        }
        .articulo .contenido a{
            font-size: 18px;
        }

    }

    

   
